<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body class="container">
    <div class="row">
        <div class="col-12 offset-1 pt-3 pb-3">
            <h1><%= title %>, total: <%= assessment_feedbacks.length %> </h1>
        </div>
        <div class="col-10 offset-1">
          <% if(assessment_feedbacks.length != 0) { %>
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Program</th>  
                      <th scope="col">Semester</th>  
                      <th scope="col">Timely Feedback</th>  
                      <th scope="col">eCentennial Use</th>  
                      <th scope="col">Course Code</th>
                      <th scope="col">Course Name</th>
                      <th scope="col">Expectation Clarity</th>  
                      <th scope="col">Grading Fairness</th>  
                      <th scope="col">Grading Feedback</th>  
                        
                    </tr>
                </thead>
                <tbody>
                    <% assessment_feedbacks.forEach(function(assessment_feedback) { %>
                        <tr>
                          <td><%= assessment_feedback.date.toLocaleDateString() %></td>
                          <td><%= assessment_feedback.program %></td>
                          <td><%= assessment_feedback.semester %></td>
                          <td><%= assessment_feedback.timelyFeedback?"True":"False" %></td>
                          <td><%= assessment_feedback.eCentennialUse?"True":"False" %></td>
                          <td><%= assessment_feedback.courseCode %></td>
                          <td><%= assessment_feedback.courseName %></td>
                          <td><%= assessment_feedback.expectationClarity %></td>
                          <td><%= assessment_feedback.gradingFairness %></td>
                          <td><%= assessment_feedback.gradingFeedback %></td>
                          
                        </tr>
                    <% }) %>
                </tbody>
            </table>
          <% } else  { %>
             <p> No assessment feedback found.</p> 
          <% }  %>
          <footer class="text-center">
            <hr>
            <a href="/">Home</a>
            <br/>
            
            © 2021 Copyright: Caique Ferreira 301093125		
          </footer>
        </div>
        
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
